<html>
<head>
  <style>
  body {
    background: url("http://i.imgur.com/FKKEboW.png");
    background-size: cover;
  }

  #login, label, a {
    color: aliceblue;
  }
  </style>
  <title></title>
</head>
<body>
  <div id="login-box">
    <div class="image-gradient-dynamic">
     <div class="overlay"></div>
     <div class="copy">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

      <div id="login_button" class="actions"> 
        <%= f.submit "Log in", :class => "submit-button" %>
      </div>

      <% end %>

      <div id="login_guest">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="actions">
          <%= f.submit "Log in as Guest", :class => "submit-button" %>
          <%= f.hidden_field :username, value: 'guest' %>
          <%= f.hidden_field :password, value: '!!!!!!!!' %>
        </div>
      </div>

      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
</body>
</html>
